.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}
.video-player-wrapper {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.player-list {
  margin: 0;
  padding: 0;
}
.player-list li {
  list-style: none;
  padding: 15px 35px;
  display: block;
  background: rgba(169, 15, 23, 0.8);
  cursor: pointer;
  text-align: left;
  margin-bottom: 1px;
}
li.selected {
  background: #03A9F4 !important;
}

#img {
  width: 200px;
  height: 155px;
  display : inline-grid;

}
