<div class="container py-5 px-4">
  <!-- For demo purpose-->
  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1">Recent</p>
        </div>

        <div class="messages-box">
          <div class="list-group rounded-0">


            <a class="list-group-item list-group-item-action active text-white rounded-0" *ngFor="let user of users"  [ngClass]="{'online' : user.isOnline}" [ngClass]="{'offline' : !user.isOnline}">
              <div class="media"  ><img src="assets/images/profile/user-uploads/user-02.jpg" alt="user" width="50" class="rounded-circle">
                <div class="media-body ml-4">
                  <div class="d-flex align-items-center justify-content-between mb-1">
                    <h6 class="mb-0">{{user.displayName}}</h6><small class="small font-weight-bold">{{daysa.getDate().toString().toUpperCase() +" "+daysa.getMonth().toString().toUpperCase() +" "+daysa.getFullYear().toString().toUpperCase() }}</small>
                  </div>
                  <p class="font-italic mb-0 text-small">{{user.email}}</p>
                </div>
              </div>
            </a>


          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0">
      <div class="px-4 py-5 chat-box bg-white">
        <!-- Sender Message-->


        <!-- Reciever Message-->
        <!--   <div class="media w-50 ml-auto mb-3" *ngFor="let message of publishedMessage" [class.pull-right] = "loggedinUserId === message.from">
             <div class="media-body">
               <div class="bg-primary rounded py-2 px-3 mb-2">
                 <P>{{message.fromUserName}}</P>
                 <p class="text-small mb-0 text-white">{{message.message}}</p>
               </div>
               <p class="small text-muted">12:00 PM | Aug 13</p>
             </div>
           </div>-->

        <!-- Sender Message-->
        <div class="media w-50 mb-3" *ngFor="let message of publishedMessage" [class.pull-right] = "loggedinUserId === message.from"><img src="assets/images/profile/user-uploads/user-01.jpg" alt="user" width="50" class="rounded-circle">
          <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
              <P>{{message.fromUserName}}</P>
              <p class="text-small mb-0 text-muted">{{message.message}}</p>
            </div>
            <p class="small text-muted">{{heurs.getHours().toString().toUpperCase()+":"+ heurs.getMinutes() .toString().toUpperCase() }} PM | {{daysa.getDate().toString().toUpperCase() +" "+daysa.getMonth().toString().toUpperCase() +" "+daysa.getFullYear().toString().toUpperCase() }}</p>
          </div>
        </div>

        <!-- Reciever Message-->


      </div>

      <!-- Typing area -->
      <form  class="bg-light" (ngSubmit)="sendMessage()">
        <div class="input-group">
          <input  placeholder="Type a message" aria-describedby="button-addon2"  autocomplete="off" type="text" name="message"
                  [(ngModel)]="message" (keypress)="sendTypeIndicator()" class="form-control rounded-0 border-0 py-4 bg-light">
          <div class="input-group-append">
            <button id="button-addon2" type="button" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>
