

<!-- Admin and Video Section Starts -->
<section *ngIf="formation.databaseFiles.length > 0" >
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title w-100">
           Videos List
          </h4>
          <p class="">by {{currentUser.displayName.toUpperCase()}}</p>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><span><i class="feather icon-more-vertical"></i></span></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="sidebar--widget__post mb-20" *ngFor="let vdo of retrieveVideo; let $index = index">
              <div class="sidebar__post--thumb">
                <a  >
                  <div class="post__img" >
                    <img src="../../../assets/front/img/blog/b6.jpg" alt="">
                  </div>

                </a>
              </div>
              <div class="sidebar__post--text">
                <h4 class="sidebar__post--title"><a (click)="sendIndex($index)">{{vdo.fileName}}</a></h4>
                <span>{{formation.start | date | slice:0 : 12}}</span>
              </div>
            </div>
           <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" *ngIf="retrieveImage.length > 0">

              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"  *ngIf="retrieveImage[index].fileType.toString().includes('image')">
                  <img id="img"  [src]="'data:image/jpeg;base64,'+retrieveImage[index].data" class="d-block w-100" alt="First slide">
                </div>
                <div class="carousel-item active"  *ngIf="!retrieveImage[index].fileType.toString().includes('image')" >
                  <h4>  we don't have images </h4>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev" (click)="previous()">
                <span class="fa fa-angle-left icon-prev" aria-hidden="true"></span>
                <span class="sr-only" >Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next" (click)="next()">
                <span class="fa fa-angle-right icon-next" aria-hidden="true"></span>
                <span class="sr-only" >Next</span>
              </a>
            </div>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12" >
      <div class="card overflow-hidden" >
        <div class="card-header"> <h1 style="color: lightpink" *ngIf="retrieveVideo.length  > 0" > Videos </h1></div>
        <div style="width: 550px;height: 500px" *ngIf="retrieveVideo.length == 0">
          <h1 style="padding-left: 200px;padding-top: 50px ;color: lightpink"> We Don't have Videos </h1>
          <img style="padding-left: 200px;padding-top: 50px" class="img-fluid" src="../../../assets/images/pages/404.png" alt="img placeholder">
        </div>



          <div class="video-player-wrapper" *ngIf="retrieveVideo.length  > 0" >

            <vg-player (onPlayerReady)="videoPlayerInit($event)">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>

              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>

              <vg-controls>



                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
                <vg-track-selector></vg-track-selector>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>



              <video #media *ngIf="retrieveVideo[0].fileType.toString().includes('video')" [vgMedia]="$any(media)"  [src]="'data:video/mp4;base64,'+retrieveVideo[index].data" width='150' height='100'
                     id="singleVideo"
                     preload="auto" [autoplay]="true" crossorigin controls="controls">
                <track src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" kind="subtitles" label="English" srclang="en" default>
                <track src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" kind="subtitles" label="Español" srclang="es">
              </video>
            </vg-player>

            <div class="card-body" *ngIf="retrieveVideo[0].fileType.toString().includes('video')">
              <p class="card-text">{{ retrieveVideo[0].fileName | slice:0:-4 }}</p>
              <a   class="btn btn-outline-primary round mr-1 mb-1 waves-effect waves-light" (click)="playvideo(retrieveVideo[index].id)">Video link</a>
              <a   class="btn btn-outline-info round mr-1 mb-1 waves-effect waves-light" (click)="downloadFiles(retrieveVideo[index].id)" > Download files </a>
              <a   class="btn btn-outline-danger round mr-1 mb-1 waves-effect waves-light" (click)="deleteFiles(retrieveVideo[index].id)" > Delete </a>
            </div>
          </div>

      </div>
    </div>
  </div>
</section>

<div class="card-body">
  <div class="form-group col-md-4">
    <h3> Add Files </h3>
    <input class="btn btn-secondary"  type="file"  (change)="onFileSelected($event)" multiple>
  </div>
  <div class="form-group col-md-4">
    <h3> Add Quiz </h3>
    <button [routerLink]="['../../Quiz',formation.idFormation]" class="btn btn-outline-info round mr-1 mb-1 waves-effect waves-light"> Add Quiz </button>
  </div>
</div>

<div class="content-body" >

  <!-- Timeline Starts -->
  <section >
    <div class="row">

<div class="col-lg-6 col-12"  >
  <div class="card" >
    <div class="card-body" >
      <div class="d-flex justify-content-start align-items-center mb-1">
        <div class="avatar mr-1">
          <img src="../../../assets/images/profile/user-uploads/user-01.jpg" alt="avtar img holder" height="45" width="45">
        </div>
        <div class="user-page-info">
          <p class="mb-0">{{currentUser.displayName.toUpperCase()}}</p>
          <span class="font-small-2">Start : {{formation.start | date | slice:0 : 12   }}  -  End : {{formation.end | date | slice:0 : 12   }}</span>
        </div>
        <div class="ml-auto user-like text-danger"><i class="fa fa-heart"></i></div>
      </div>

      <div *ngIf="formation.databaseFiles.length > 0">

        <div *ngIf="formation.databaseFiles[0].fileType.toString().includes('image') ; then thenfirst ; else thenSec"></div>
        <ng-template #thenfirst > <a ><img  [src]="'data:image/jpeg;base64,'+formation.databaseFiles[0].data" alt="blog image not found 1"></a></ng-template>
        <ng-template #thenSec > <a ><img  [src]="'data:image/jpeg;base64,'+formation.databaseFiles[1].data" alt="blog image not found 2"></a></ng-template>

      </div>

      <div class="d-flex justify-content-start align-items-center mb-1">
        <div class="d-flex align-items-center">
          <i class="feather icon-heart font-medium-2 mr-50"></i>
          <span>{{rating}}</span>
        </div>
        <div class="ml-2">
          <ul class="list-unstyled users-list m-0  d-flex align-items-center"  >
            <li data-toggle="tooltip" *ngFor="let l of comment" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Trina Lynes" class="avatar pull-up">
              <img class="media-object rounded-circle" src="../../../assets/images/portrait/small/avatar-s-2.jpg" alt="Avatar" height="30" width="30">
            </li>
          </ul>
        </div>
        <p class="ml-auto d-flex align-items-center"> <a (click)="showComment()">
          <i class="feather icon-message-square font-medium-2 mr-50"></i>{{comment.length}}
        </a> </p>
      </div>

      <div *ngIf="showC">

        <div class="d-flex justify-content-start align-items-center mb-1" *ngFor="let post of comment">
          <div class="avatar mr-50">
            <img src="../../../assets/images/portrait/small/avatar-s-2.jpg" alt="Avatar" height="30" width="30">
          </div>
          <div class="user-page-info">
            <h6 class="mb-0">Kitty Allanson</h6>
            <span class="font-small-2">{{post.message}}</span>
          </div>
          <div class="ml-auto cursor-pointer float-lg-right">
            <button class="like" (click)="LikesComment(post.idComn)">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"> </i>
            </button>
            <label>{{post.nbrLikes}}</label>
            &nbsp;
            <button class="dislike" (click)="DisLikesComment(post.idComn)">
              <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
            </button>
            <label>{{post.nbrDisLikes}}</label>
          </div>
        </div>



        <fieldset class="form-label-group mb-50">
          <textarea class="form-control" id="label-textarea" #message="ngModel" [(ngModel)]="post.message"  rows="3" placeholder="Add Comment"></textarea>
          <label for="label-textarea"  >Add Comment</label>
        </fieldset>
        <button type="button" class="btn btn-sm btn-primary"  (click)="sendComments();message.control.reset()"> Post Comment </button>
      </div>
    </div>
  </div>


</div>

<div class="col-lg-4 col-sm-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title w-100">
        {{formation.title.toUpperCase()}}
      </h4>
      <p class="">by {{currentUser.displayName}} </p>
      <div class="heading-elements">
        <ul class="list-inline mb-0">
          <li><span><i class="feather icon-more-vertical"></i></span></li>
        </ul>
      </div>
    </div>
    <div class="card-content">
      <div class="card-body">
        <div *ngIf="formation.databaseFiles.length > 0">

          <div *ngIf="formation.databaseFiles[0].fileType.toString().includes('image') ; then thenfirst ; else thenSec"></div>
          <ng-template #thenfirst > <a ><img  [src]="'data:image/jpeg;base64,'+formation.databaseFiles[0].data" alt="blog image not found 1"></a></ng-template>
          <ng-template #thenSec > <a ><img  [src]="'data:image/jpeg;base64,'+formation.databaseFiles[1].data" alt="blog image not found 2"></a></ng-template>

        </div>
        <div class="d-flex justify-content-start mt-2">
          <div class="icon-like mr-2">

            <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                  </span>
            </ng-template>

            <ngb-rating [(rate)]="rating" [starTemplate]="t"  [max]="5" ></ngb-rating>


            <pre>Rate: <b>{{rating}}</b></pre>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
    </div>
  </section>
</div>


<div class="content-body">

  <!-- Timeline Starts -->
  <section id="timeline-card">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Courses Timeline</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="activity-timeline timeline-left list-unstyled">
                <li *ngFor="let l of List">
                  <div class="timeline-icon bg-success">
                    <i class="feather icon-check font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Courses Add</p>
                    <span>Title :  {{l.title}} : Domain : {{l.domain}} </span>
                  </div>
                <a [routerLink]="['../../calendarCourses/'+currentUser.id]"><i class="flaticon-calendar"></i> Start : {{l.start | date | slice:0 : 12   }} <br> End : {{l.end | date | slice:0 : 12}} </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Quiz Timeline</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="activity-timeline timeline-right list-unstyled">

                <li *ngFor="let q of formation.quizzes">
                  <div class="timeline-icon bg-warning">
                    <i class="feather icon-alert-circle font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Quiz Date</p>
                    <span>{{q.title.toUpperCase()}}</span>
                  </div>
                  <a ><i class="flaticon-calendar"></i> Published At : {{q.createAt | date | slice:0 : 12   }} </a>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Timeline Ends -->
</div>

