

<!-- Admin and Video Section Starts -->
<section  >
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title w-100">
            Vuexy Admin
          </h4>
          <p class="">by Pixinvent Creative Studio</p>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><span><i class="feather icon-more-vertical"></i></span></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" *ngIf="retrieveImage.length > 0">

              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"  *ngIf="retrieveImage[index].fileType.toString().includes('image')">
                  <img id="img"  [src]="'data:image/jpeg;base64,'+retrieveImage[index].data" class="d-block w-100" alt="First slide">
                </div>
                <div class="carousel-item active"  *ngIf="!retrieveImage[index].fileType.toString().includes('image')" >
                  <h4>  we don't have images </h4>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev" (click)="previous()">
                <span class="fa fa-angle-left icon-prev" aria-hidden="true"></span>
                <span class="sr-only" >Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next" (click)="next()">
                <span class="fa fa-angle-right icon-next" aria-hidden="true"></span>
                <span class="sr-only" >Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12" >

      <div class="card overflow-hidden" >
        <h1 *ngIf="retrieveVideo.length  > 0" > Videos </h1>
        <div style="width: 600px;height: 500px" *ngIf="retrieveImage.length == 0">
          <h1 style="padding-left: 200px;padding-top: 50px"> We Don't have Videos </h1>
          <img style="padding-left: 180px;padding-top: 50px" class="img-fluid" src="../../../assets/images/pages/404.png" alt="img placeholder">
        </div>

        <div class="embed-responsive embed-responsive-16by9" *ngIf="retrieveVideo.length > 0">

          <div class="video-player-wrapper"  >


            <vg-player (onPlayerReady)="videoPlayerInit($event)">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>

              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>

              <vg-controls>



                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
                <vg-track-selector></vg-track-selector>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>



              <video #media *ngIf="retrieveVideo[0].fileType.toString().includes('video')" [vgMedia]="$any(media)"  [src]="'data:video/mp4;base64,'+retrieveVideo[0].data" width='150' height='100'
                     id="singleVideo"
                     preload="auto" crossorigin controls="controls">
                <track src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" kind="subtitles" label="English" srclang="en" default>
                <track src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" kind="subtitles" label="Español" srclang="es">
              </video>
            </vg-player>

            <div class="card-body" *ngIf="retrieveVideo[0].fileType.toString().includes('video')">
              <p class="card-text">{{ retrieveVideo[0].fileName | slice:0:-4 }}</p>
              <a  class="card-link" (click)="playvideo(retrieveVideo[0].id)">Video link</a>
              <a  class="card-link" (click)="downloadFiles(retrieveVideo[0].id)" > Download files </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Admin and Video Section Starts -->


<section id="content-types">
  <div class="row">

    <div class="col-lg-8 col-sm-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <h4 class="card-title">Videos </h4>
          </div>
          <div class="video-player-wrapper" *ngIf="retrieveVideo.length > 0" >
            <!--  <iframe *ngIf="vdo.fileType.toString().includes('video')" class="img-thumbnail"  [src]="retrievedImage" allowfullscreen></iframe>-->
            <vg-player (onPlayerReady)="videoPlayerInit($event)">
              <vg-overlay-play></vg-overlay-play>
              <vg-buffering></vg-buffering>

              <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
              </vg-scrub-bar>

              <vg-controls>



                <vg-play-pause></vg-play-pause>
                <vg-playback-button></vg-playback-button>

                <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                <vg-mute></vg-mute>
                <vg-volume></vg-volume>
                <vg-track-selector></vg-track-selector>
                <vg-fullscreen></vg-fullscreen>
              </vg-controls>



              <video #media *ngIf="retrieveVideo[0].fileType.toString().includes('video')" [vgMedia]="$any(media)"  [src]="'data:video/mp4;base64,'+retrieveVideo[0].data" width='150' height='100'
                     id="singleVideo"
                     preload="auto" crossorigin controls="controls">
                <track src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt" kind="subtitles" label="English" srclang="en" default>
                <track src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt" kind="subtitles" label="Español" srclang="es">
              </video>
            </vg-player>

            <div class="card-body" *ngIf="retrieveVideo[0].fileType.toString().includes('video')">
              <p class="card-text">{{ retrieveVideo[0].fileName | slice:0:-4 }}</p>
              <a  class="card-link" (click)="playvideo(retrieveVideo[0].id)">Video link</a>
              <a  class="card-link" (click)="downloadFiles(retrieveVideo[0].id)" > Download files </a>
            </div>
          </div>
          <div class="col-xl-4 col-md-12 col-sm-12" *ngIf="toggle">
            <div class="card">
              <div class="card-content">
                <div class="card-body">

                  <h4 class="card-title">files Courses</h4>

                  <h6 class="card-subtitle text-muted">Images</h6>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" *ngIf="retrieveImage.length > 0">

                  <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active"  *ngIf="retrieveImage[index].fileType.toString().includes('image')">
                      <img id="img"  [src]="'data:image/jpeg;base64,'+retrieveImage[index].data" class="d-block w-100" alt="First slide">
                    </div>
                    <div class="carousel-item active"  *ngIf="!retrieveImage[index].fileType.toString().includes('image')" >
                      <h4>  we don't have images </h4>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev" (click)="previous()">
                    <span class="fa fa-angle-left icon-prev" aria-hidden="true"></span>
                    <span class="sr-only" >Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next" (click)="next()">
                    <span class="fa fa-angle-right icon-next" aria-hidden="true"></span>
                    <span class="sr-only" >Next</span>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda mollitia
                    officia dolorum eius quasi.  {{index}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group col-md-4">
        <label  >Add Files </label>
        <input class="btn btn-secondary"  type="file"  (change)="onFileSelected($event)" multiple>


      </div>
    </div>



    <div class="col-lg-6 col-12"  *ngIf="formation.databaseFiles.length > 0" >
      <div class="card" >
        <div class="card-body">
          <div class="d-flex justify-content-start align-items-center mb-1">
            <div class="avatar mr-1">
              <img src="assets/images/profile/user-uploads/user-01.jpg" alt="avtar img holder" height="45" width="45">
            </div>
            <div class="user-page-info">
              <p class="mb-0">Leeanna Alvord</p>
              <span class="font-small-2">12 Dec 2018 at 1:16 AM</span>
            </div>
            <div class="ml-auto user-like text-danger"><i class="fa fa-heart"></i></div>
          </div>
       <!--   <audio *ngIf="retrieveVideo" [src]="'data:audio/mp3;base64,'+retrieveVideo[0].data"  controls >
          </audio>-->
          <p>I love jujubes wafer pie ice cream tiramisu. Chocolate I love pastry pastry sesame snaps wafer. Pastry topping biscuit lollipop topping I love lemon drops sweet roll bonbon. Brownie donut icing.</p>
          <div *ngIf="formation.databaseFiles[0].fileType.toString().includes('image') ; then thenfirst ; else thenSec"></div>
          <ng-template #thenfirst > <a ><img  [src]="'data:image/jpeg;base64,'+formation.databaseFiles[0].data" alt="blog image not found 1"></a></ng-template>
          <ng-template #thenSec > <a ><img  [src]="'data:image/jpeg;base64,'+formation.databaseFiles[1].data" alt="blog image not found 2"></a></ng-template>

          <div class="d-flex justify-content-start align-items-center mb-1">
            <div class="d-flex align-items-center">
              <i class="feather icon-heart font-medium-2 mr-50"></i>
              <span>145</span>
            </div>
            <div class="ml-2">
              <ul class="list-unstyled users-list m-0  d-flex align-items-center">
                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Trina Lynes" class="avatar pull-up">
                  <img class="media-object rounded-circle" src="assets/images/portrait/small/avatar-s-1.jpg" alt="Avatar" height="30" width="30">
                </li>
                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Lilian Nenez" class="avatar pull-up">
                  <img class="media-object rounded-circle" src="assets/images/portrait/small/avatar-s-2.jpg" alt="Avatar" height="30" width="30">
                </li>
                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Alberto Glotzbach" class="avatar pull-up">
                  <img class="media-object rounded-circle" src="assets/images/portrait/small/avatar-s-3.jpg" alt="Avatar" height="30" width="30">
                </li>
                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="George Nordic" class="avatar pull-up">
                  <img class="media-object rounded-circle" src="assets/images/portrait/small/avatar-s-5.jpg" alt="Avatar" height="30" width="30">
                </li>
                <li data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Vinnie Mostowy" class="avatar pull-up">
                  <img class="media-object rounded-circle" src="assets/images/portrait/small/avatar-s-4.jpg" alt="Avatar" height="30" width="30">
                </li>
                <li class="d-inline-block pl-50">
                  <span>+140 more</span>
                </li>
              </ul>
            </div>
            <p class="ml-auto d-flex align-items-center"> <a (click)="showComment()">
              <i class="feather icon-message-square font-medium-2 mr-50"></i>{{comment.length}}
            </a> </p>
          </div>

          <div *ngIf="showC">

            <div class="d-flex justify-content-start align-items-center mb-1" *ngFor="let post of comment">
              <div class="avatar mr-50">
                <img src="assets/images/portrait/small/avatar-s-6.jpg" alt="Avatar" height="30" width="30">
              </div>
              <div class="user-page-info">
                <h6 class="mb-0">Kitty Allanson</h6>
                <span class="font-small-2">{{post.message}}</span>
              </div>
              <div class="ml-auto cursor-pointer float-lg-right">
                <button class="like" (click)="LikesComment(post.idComn)">
                  <i class="fa fa-thumbs-o-up" aria-hidden="true"> </i>
                </button>
                <label>{{post.nbrLikes}}</label>
                &nbsp;
                <button class="dislike" (click)="DisLikesComment(post.idComn)">
                  <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                </button>
                <label>{{post.nbrDisLikes}}</label>
              </div>
            </div>




            <fieldset class="form-label-group mb-50">
              <textarea class="form-control" id="label-textarea" #message="ngModel" [(ngModel)]="post.message"  rows="3" placeholder="Add Comment"></textarea>
              <label for="label-textarea"  >Add Comment</label>
            </fieldset>
            <button type="button" class="btn btn-sm btn-primary" (click)="sendComments()" > Post Comment </button>
          </div>
        </div>
      </div>

    </div>



    <!-- <ul class="player-list">
       <br>
       <div *ngFor="let vdo of retrieveResonse; let $index = index" >
         <button *ngIf="vdo.fileType.toString().includes('video')" (click)="downloadFiles(vdo.id)">
           {{ vdo.fileName }} - Download fils
         </button>

       </div>
     </ul>-->





    <div class="col-lg-4 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title w-100">
            {{formation.title}}
          </h4>
          <p class="">by </p>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><span><i class="feather icon-more-vertical"></i></span></li>
            </ul>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body">
            <img class="img-fluid" src="assets/images/pages/content-img-4.jpg" alt="img placeholder">
            <div class="d-flex justify-content-start mt-2">
              <div class="icon-like mr-2">
                <!--   <i class="feather icon-thumbs-up text-success font-medium-5 align-middle"></i>-->
                <span>{{formation.rating}}</span>
                <br>
                <ng-template #t let-fill="fill">
                  <span class="star" [class.full]="fill === 100">
                    <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                  </span>
                </ng-template>

                <ngb-rating [(rate)]="rating" [starTemplate]="t"  [max]="5" (rateChange)="changeRating()"></ngb-rating>

                <hr>
                <pre>Rate: <b>{{rating}}</b></pre>
              </div>
              <div class="icon-comment mr-2">
                <i class="feather icon-message-square font-medium-5 align-middle text-primary"></i>
                <span>3</span>
              </div>
              <!--  <div class="icon-dislike">
                  <i class="feather icon-thumbs-down font-medium-5 align-middle text-danger"></i>
                  <span>5</span>
                </div>-->
            </div>
          </div>
        </div>
      </div>

    </div>



    <!-- <input type="file" accept="video/*" (change)="onSelectedFile()">
     <button (click)="onSelectedFile()" > get video  </button>
     <video
       *ngIf="videoUrl"
       [src]="videoUrl"
       style="width:300px; height:300px;"
       controls></video>



       <img *ngIf="file?.type?.toString()?.includes('image')"
                         [src]="file?.source | secure | async "
                         height="70px"
                         width="70px"/>
   <video *ngIf="file?.type?.toString()?.includes('video')"
                           height="70px"
                           width="70px"
                           [src]="file?.source | secure | async"
                           (loadedmetadata)="getDuration($event, i)">-->
  </div>
</section>
<div class="content-body">

  <!-- Timeline Starts -->
  <section id="timeline-card">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Left Timeline</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="activity-timeline timeline-left list-unstyled">
                <li>
                  <div class="timeline-icon bg-primary">
                    <i class="feather icon-plus font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Task Added</p>
                    <span>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</span>
                  </div>
                  <small class="">25 days ago</small>
                </li>
                <li>
                  <div class="timeline-icon bg-warning">
                    <i class="feather icon-alert-circle font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Task Updated</p>
                    <span>Cupcake gummi bears soufflé caramels candy</span>
                  </div>
                  <small class="">15 days ago</small>
                </li>
                <li>
                  <div class="timeline-icon bg-success">
                    <i class="feather icon-check font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Task Completed</p>
                    <span>Candy ice cream cake. Halvah gummi bears
                                                    </span>
                  </div>
                  <small class="">20 minutes ago</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>




      <div class="col-lg-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Right Timeline</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <ul class="activity-timeline timeline-right list-unstyled">
                <li>
                  <div class="timeline-icon bg-primary">
                    <i class="feather icon-plus font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Task Added</p>
                    <span>Bonbon macaroon jelly beans gummi bears jelly lollipop apple</span>
                  </div>
                  <small class="">25 days ago</small>
                </li>
                <li>
                  <div class="timeline-icon bg-warning">
                    <i class="feather icon-alert-circle font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Task Updated</p>
                    <span>Cupcake gummi bears soufflé caramels candy</span>
                  </div>
                  <small class="">15 days ago</small>
                </li>
                <li>
                  <div class="timeline-icon bg-success">
                    <i class="feather icon-check font-medium-2"></i>
                  </div>
                  <div class="timeline-info">
                    <p class="font-weight-bold">Task Completed</p>
                    <span>Candy ice cream cake. Halvah gummi bears
                                                    </span>
                  </div>
                  <small class="">20 minutes ago</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Timeline Ends -->
</div>

