
<div class="app-main" id="main">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin row -->
    <label> Search </label>


    <form  (click)="SearchMultiple(key.value);SearchHistrique(key.value)">
      <div class="from-group row">
      <div class="col-6 col-sm-3">
        <input class="form-control ag-row-hover"  type="search"  #key="ngModel" ngModel
               name="key" placeholder="Search Formation" >
      </div>

      <div class="col-6 col-sm-3">
        <button class="btn btn-outline-soundcloud ag-row " type="submit" > Search </button>
      </div>
      </div>
    </form>



  <br>

  <div class="card-header">
    <h3 class="card-title"> DataTable with Courses details </h3>
    <br>
  </div>
  <!-- /.card-header -->
  <div class="card-body">

    <div class="container"  >
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Titre</th>
          <th>Niveau</th>
          <th>Domain</th>
          <th>Frais</th>
          <th>Delete</th>
          <th>Update</th>
          <th>Add quiz</th>
          <th>Details</th>
          <th>QrCode</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let l of listFomation">

          <td>{{l.title}}</td>
          <td>{{l.level}}</td>
          <td>{{l.domain}}</td>
          <td>{{l.frais}}</td>
          <td >
            <button class="btn btn-outline-danger" (click)="deleteFormation(l.idFormation)">Delete</button>
          </td>
          <td>
            <button  class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="dataId(l.idFormation)" >Update</button>
          </td>
          <td>
            <button class="btn btn-outline-instagram" [routerLink]="['../Question',l.idFormation]">Add Quiz</button>
          </td>
          <td>
            <button class="btn btn-outline-foursquare" [routerLink]="['../videoplaylist',l.idFormation]">Details</button>
          </td>
          <td>
            <ngx-qrcode [elementType]="elementType"  [value]="l.toString()" [width]="50"  [errorCorrectionLevel]="correctionLevel" ></ngx-qrcode>
          </td>

        </tr>

        </tbody>
        <tfoot>
        <tr>
          <th>Titre</th>
          <th>Niveau</th>
          <th>Domain</th>
          <th>Frais</th>
          <th>Delete</th>
          <th>Update</th>
          <th>Add quiz</th>
          <th>QrCode</th>
        </tr>
        </tfoot>
      </table>

    </div>






    <div class="modal fade"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #00a8c6" >

    <div class="modal-dialog modal-lg modal-dialog-centered">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exmpleModelLabel">Edits Formation</h5>
          <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal" aria-label="Close"  >X</button>

        </div>
        <div class="modal-body" >
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> Title </span>
            <input type="text" class="form-control" [(ngModel)]="fr.title" >
          </div>
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> nbrMaxParticipant </span>
            <input type="number" class="form-control" [(ngModel)]="fr.nbrMaxParticipant" >
          </div>
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> nbrHeures </span>
            <input type="number" class="form-control" [(ngModel)]="fr.nbrHeures" >
          </div>
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> frais </span>
            <input type="number" class="form-control" [(ngModel)]="fr.frais" >
          </div>

          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> dateDebut </span>
            <input type="date" class="form-control" [(ngModel)]="fr.start" >
          </div>
          <div class="input-group row-cols-md-3" >
            <span class="input-groupe-text "> dateFin </span>
            <input type="date" class="form-control" [(ngModel)]="fr.end" >
          </div>
          <div class="form-group row-cols-md-3">
            <label  >Niveau</label>
            <select  #niveau="ngModel" [(ngModel)]="fr.level" name="niveau" class="form-control"  required >
              <option selected value="BEGINNER">DEBUTANT</option>
              <option value="INTERMEDIATE">INTERMEDIAIRE</option>
              <option value="ADVANCED">AVANCE</option>
            </select>
          </div>
          <div class="form-group row-cols-md-3">
            <label  >Domain</label>
            <select #domain="ngModel" [(ngModel)]="fr.domain" name="domain" class="form-control"  required >
              <option selected value="IT">IT</option>
              <option value="ART">ART</option>
              <option value="CINEMA">CINEMA</option>
              <option value="MUSIQUE">MUSIQUE</option>
              <option value="DANCE">DANCE</option>
              <option value="PHY">PHY</option>
              <option value="ECONOMIC">ECONOMIC</option>
              <option value="MARKETING">MARKETING</option>
            </select>
          </div>

          <button type="button" class="btn btn-outline-success" (click)="UpdateFormation(fr,idF)" > Update </button>


        </div>

      </div>

    </div>


    </div>




    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title"> number of students </h3>

        <div class="card-body">

          <button class="btn btn-outline-microsoft " (click)="this.getNbrApprenantByFormation();ToggleForm()">
            Nb Apprenant by Formation</button>



        </div>
      </div>
    </div>

      <div class="card-body" >
        <div class="chart">
          <google-chart #chart
                        [title]="title"
                        [type]="type2"
                        [data]="data2"
                        [options]="options"
                        [width]="width"
                        [height]="height">
          </google-chart>
        </div>
      </div>
      <!-- /.card-body -->
    </div>

  <div class="container">
    <button (click)="ToggleForm() " class="btn btn-success">add new courses</button>
  </div>
    <br><br>






    <div *ngIf="sowFormateur" class="container" >

      <app-list-fomateur (eventForm)="dataId($event)"  ></app-list-fomateur>

      <h1 > Add Formation </h1>

      <form #f="ngForm" class="form-group"   >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >Title</label>
            <input type="text" class="form-control"  #titre="ngModel" [(ngModel)]="fr.title" name="title" required >
          </div>


          <div class="form-group col-md-6">
            <label >nbrMaxParticipant</label>
            <input type="number" class="form-control" #nbrMaxParticipant="ngModel" [(ngModel)]="fr.nbrMaxParticipant"  name="nbrMaxParticipant" required >
          </div>

        </div>
        <div class="form-group">
          <label >nbrHeures</label>
          <input type="number" class="form-control" #nbrHeures="ngModel" [(ngModel)]="fr.nbrHeures"  required name="nbrHeures" >
        </div>
        <div class="form-group">
          <label >frais</label>
          <input type="number" class="form-control"   #frais="ngModel" [(ngModel)]="fr.frais" required name="frais">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label >dateDebut</label>
            <input type="date" class="form-control" #dateDebut="ngModel" [(ngModel)]="fr.start" name="dateDebut"  required >
          </div>
          <div class="form-group col-md-6">
            <label >dateFin</label>
            <input type="date" class="form-control" #dateFin="ngModel" [(ngModel)]="fr.end" name="dateFin" required >
          </div>

          <div class="form-group col-md-4">
            <label  >Add Image </label>
            <input  type="file"  (change)="onFileSelected($event)" multiple>
            <img [src]="imgURL" height="100" width="150"  *ngIf="imgURL">

          </div>



          <div class="form-group col-md-4">
            <label >Niveau</label>
            <select  #niveau="ngModel" [(ngModel)]="fr.level" name="niveau" class="form-control"  required >
              <option selected value="BEGINNER">BEGINNER</option>
              <option value="INTERMEDIATE">INTERMEDIATE</option>
              <option value="ADVANCED">ADVANCED</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label >Domain</label>
            <select #domain="ngModel" [(ngModel)]="fr.domain" name="domain" class="form-control"  required >
              <option selected value="IT">IT</option>
              <option value="ART">ART</option>
              <option value="CINEMA">CINEMA</option>
              <option value="MUSIQUE">MUSIQUE</option>
              <option value="DANCE">DANCE</option>
              <option value="PHY">PHY</option>
              <option value="ECONOMIC">ECONOMIC</option>
              <option value="MARKETING">MARKETING</option>
            </select>
          </div>

        </div>
        <button type="submit" class="btn btn-primary" (click)="addFormation(idF); f.reset();UpdateTable2()"
                [disabled]="titre.invalid ||nbrHeures.invalid||nbrMaxParticipant.invalid||frais.invalid||dateDebut.invalid||dateFin.invalid||domain.invalid||niveau.invalid" data-toggle="tooltip" data-placement="right" *ngIf="f.valid" > Add Courses </button>
      </form>



    </div>




  </div>

  <section id="overlay-image-chat-cards">
    <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card overlay-img-card text-white">
        <img src="assets/images/pages/card-image-6.jpg" class="card-img" alt="card-img-6">
        <div class="card-img-overlay overlay-black d-flex flex-column justify-content-between">
          <h5 class="card-title text-white">Beautiful Overlay</h5>
          <div class="card-content">
            Cake sesame snaps cupcake gingerbread danish I love gingerbread. Apple pie pie jujubes chupa chups muffin
            halvah lollipop.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">

      <div class="card overlay-img-card text-white">
        <img src="assets/images/pages/card-image-5.jpg" class="card-img" alt="card-img-6">
        <div class="card-img-overlay overlay-black">
          <h5 class="font-medium-5 text-white text-center mt-4">Snowy</h5>
          <p class="text-white text-center">New York</p>
          <div class="card-content">
            <div class="d-flex justify-content-around mt-2">
              <div class="icon">
                <i class="feather icon-cloud-snow font-large-5"></i>
              </div>
              <div class="temprature mt-3">
                <p class="font-large-3"> -6 <span class="mt-1">&#176;</span></p>
              </div>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between mt-4">
                <div class="precipitation">
                  <span class="font-medium-3">Precipitation</span>
                </div>
                <div class="degree">
                  <span class="font-medium-3">48%</span>
                </div>
              </div>
              <div class="d-flex justify-content-between my-2">
                <div class="humidity">
                  <span class="font-medium-3">Humidity</span>
                </div>
                <div class="degree">
                  <span class="font-medium-3">60%</span>
                </div>
              </div>
              <div class="d-flex justify-content-between my-2">
                <div class="wind">
                  <span class="font-medium-3">Wind</span>
                </div>
                <div class="degree">
                  <span class="font-medium-3">23 km/h</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-content">
            <img class="card-img-top img-fluid" src="assets/images/pages/content-img-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5>Vuexy Admin</h5>
              <p class="card-text  mb-0">By Pixinvent Creative Studio</p>
              <span class="card-text">Elite Author</span>
              <div class="card-btns d-flex justify-content-between mt-2">
                <a href="#" class="btn gradient-light-primary text-white">Download</a>
                <a href="#" class="btn btn-outline-primary">View All</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


    <div class="video-player-wrapper">

      <h2>Angular Video Player with Controls </h2>

      <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>


        <vg-scrub-bar [vgSlider]="true">
          <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
          <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">

          <track kind="subtitles" label="English" src="http://static.videogular.com/assets/subs/pale-blue-dot.vtt"
                 srclang="en" default>
          <track kind="subtitles" label="Español" src="http://static.videogular.com/assets/subs/pale-blue-dot-es.vtt"
                 srclang="es">
          <track kind="subtitles" label="Arabic" src="http://static.videogular.com/assets/subs/pale-blue-dot-ar.vtt"
                 srclang="ar">
        </video>
      </vg-player>

    </div>


  </div>




