<div class="header">
  <div class="logged-in-user col-md-2">{{currentUser.displayName}}</div>
</div>

<div class="container py-5 px-4">
  <!-- For demo purpose-->
  <div class="row rounded-lg overflow-hidden shadow">
 <app-list-user></app-list-user>
 <app-chatstream></app-chatstream>
  </div>
</div>



<section class="bd-error-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="bd-error text-center">

          <h3 class="mb-20">Chat Room Courses</h3>
          <div class="header">
            <div class="logged-in-user col-md-2">{{currentUser.displayName}}</div>
          </div>

          <div class="container py-5 px-4">
            <!-- For demo purpose-->
            <div class="row rounded-lg overflow-hidden shadow">
              <app-list-user></app-list-user>
              <app-chatstream></app-chatstream>
            </div>
          </div>
          <div class="bd-error-btn text-center">
            <a href="index.html" class="theme-btn">Back To Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

